#logo{
    width: 475px;
    animation: myanimation 5s;
}

@keyframes myanimation {
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}

body{
    font-family:'Poppins', serif;
    background-color: #f1f1f1;
    background-image: url("../images/concrete_seamless.png");
}

header, .nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:link, a:visited{
    color: blue;
}

.card > header{
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-basis: 450px; 
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px 10px 10px 10px;
    width: 300px;
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width:900px){
    header, .nav_links{
        flex-direction: row;
        justify-content: space-between;
    }

    .card{
        flex-basis: 275px;
    } 

    body > header{
        position: sticky;
        top: 0;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation: none;
    }
}

@media print{
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }

    #gallery, .gallery{
        display: none;
    }

    nav{
        width: 100%;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .card{
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }

    .pricing{
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card ul li:nth-child(even):after{
        content: "\1F44D";
    }
}